$greyDark: #040404;
$greyLight: #131313;
$greyLighter: #282828;
$greyText: #b3b3b3;
$greyNav: #090909;
$greenMain: #1db954;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: all 0.3s ease-in-out;
}
body {
  background-color: $greyLight;
}
::-webkit-scrollbar {
  width: 0;
  background: transparent;
}
.App {
  display: flex;
  height: calc(100vh - 90px);
  background-color: $greyLight;
}
.navbar {
  width: 250px;
  height: 100%;
  background-color: $greyDark;
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  .logo {
    padding: 2rem 1rem 1rem 1rem;
    svg {
      fill: white;
    }
  }
  ul {
    margin: 0;
    padding: 0;
    li {
      display: flex;
      align-items: center;
      margin: 10px 0;
      color: $greyText;
      list-style-type: none;
      border-radius: 5px;
      padding: 0.5rem 0.7rem;
      font-size: 0.9rem;
      cursor: pointer;
      &.active {
        color: white;
        background-color: $greyLighter;
        font-weight: bold;
        svg {
          fill: white;
        }
      }
      &:hover {
        color: white;
        svg {
          fill: white;
        }
      }
      svg {
        margin-right: 15px;
        fill: $greyText;
      }
    }
  }
  .cookies {
    font-size: 0.7rem;
    color: $greyText;
    text-align: center;
    margin-top: auto;
    padding: 1rem;
    span {
      display: block;
    }
  }
}
.outerWrap {
  background-color: grey;
  height: 100vh;
  min-height: 100%;
}
.musicControl {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $greyLighter;
  text-align: center;
  height: 90px;
  position: relative;
}

.main {
  width: 100%;
  overflow-y: scroll;
  position: relative;
  padding-top: 3.4rem;
  .upperNav {
    background: rgba(9, 9, 9, 0.78);
    height: 56px;
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
    padding: 0.5rem 2rem;
    position: fixed;
    top: 0;
    z-index: 2;
  }
  .mainContent {
    color: white;
    padding: 1rem 2rem;
    h1 {
      font-size: 2rem;
      margin-bottom: 1rem;
    }
  }
}
.cardsWrap {
  padding-bottom: 2rem;
  .card {
    background-color: $greyLighter;
    border-radius: 10px;
    width: max-content;
    overflow: hidden;
    padding: 1rem 1rem 2rem 1rem;
    position: relative;
    &:hover {
      .playIcon {
        opacity: 1;
      }
    }
    .cardImage {
      height: 170px;
      max-width: 200px;
      box-shadow: 0 8px 24px rgba(0, 0, 0, 0.5);
      img {
        border-radius: 5px;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }
    .cardContent {
      max-width: 200px;
      padding: 0.5rem 0;
      h3 {
        font-weight: bold;
        font-size: 1rem;
        margin: 5px 0;
      }
      p {
        color: $greyText;
        font-size: 0.9rem;
      }
    }
  }
}
.playIcon {
  width: 40px;
  height: 40px;
  background-color: $greenMain;
  display: flex;
  border-radius: 50%;
  opacity: 0;
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  cursor: pointer;
  &:hover {
    scale: 1.1;
  }
  svg {
    fill: white;
    margin: auto;
  }
}
